<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href='./stylesheets/style.css'>
    <title>Add a New Car</title>
</head>
<body>
    <form action="" method="POST">
        Make: <input type='text' name='make'>
        Model: <input type='text' name='model'>
        Year: <input type='text' name='year'>
        <input type='submit' value = "Add!!!">
    </form>
</body>
</html>