.productBox{
    border: 2px solid black;
    width: 25%;
    padding: 2%;
    text-align: right;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15px;
    display: inline-block;
}
img{
    width: 80%;
}
a{
    background-color: orange;
    color: black;
    height: 30px;
    margin: 1%;
    width: 60px;
    border: 1px solid gray;
}
button{
    background-color: red;
    color: white;
    height: 30px;
    margin: 1%;
}