<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action='/result' method="POST">
        Your Name: <input type="text" name="name"><br>
        <br>
        Dojo Location: <input type="text" name="location"><br>
        <br>
        Favorite Language: <input type="text" name="language"><br>
        <br>
        Comment: <textarea name="comment" rows=7 cols = 35></textarea><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
