<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here is the information you literally just entered, in case you forgot.</h1>
    <h3>Your name is: <%= name %></h3>
    <h3>Your Dojo location is: <%= location %></h3>
    <h3>Your favorite language is: <%= language %></h3>
    <h3>The comment you entered was: <%= comment %></h3>
    <br>
    <a href="/">Go Back and Do It Again!</a>
</body>
</html>