<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epic Button Game</title>
    <link rel="stylesheet", href='./stylesheets/style.css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "/socket.io/socket.io.js"></script>
    <script type = "text/javascript">
        $(document).ready(function(){
            var socket = io.connect()
            $("#epicButton").click(function(){
                socket.emit("button_clicked")
            });
            socket.on("server_response", function(count){
                document.getElementById("countSentence").innerHTML = "The button has been pushed "+ count +" times.";

            })
            $("#resetButton").click(function(){
                socket.emit("reset_clicked");
            })
        })
    </script>
</head>
<body>
    <h1 id="countSentence">The button has been pushed <%= count %> times.</h1>

    <h3>Push the button to update the count!</h3>
    <button id="epicButton">Push the epic button</button>
    <br>
    <button id="resetButton">Push this button to reset the counter.</button>

</body>
</html>