<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to Quoting Dojo</h1>
    <% if(typeof(errors) != undefined){ %>
        <% for (var x in errors) { %>
        <span id=errors><%= title %></span><br><br>
    <% }} %>
    <form action="/quotes" method="POST">
        Your Name: <input type="text" name="name"><br>
        <br>
        Your Quote: <textarea name="quote" rows=10 cols=40></textarea><br>
        <br>
        <input type="submit" value = "Add my Quote!">
    </form>
    <form action='/quotes' method="GET">
        <input type="submit" value="Skip to Quotes!">
    </form>
</body>
</html>